.about-container {
  display: flex;
  align-items: center;
}

.about-container img {
  height: 150px;
}

.about-content {
  margin-left: 20px;
}

.about-content h2 {
  font-size: 2rem;
  color: var(--heading-color);
  margin-bottom: 1rem;
}

.about-content p {
  color: var(--heading-color);
  font-size: 1.1rem;
}

.job-content {
  text-align: right;
}

.job-content h2 {
  font-size: 2rem;
  color: var(--heading-color);
  margin-bottom: 1rem;
}

.job-content p {
  color: var(--heading-color);
  font-size: 1.1rem;
}

.github-content {
  margin-top: 2rem;
}

.icon-link {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 5rem;
  justify-content: center;
  align-items: center;
}
